.App {
	height:100vh;
	display: flex;
}

.todoBox {
	width: 50vw;
	background-color: lightgreen;
}

.taskBox {
	width: 50vw;
	background-color:lightblue;
}

.header {
	position: absolute;
	top:6%;
	left: 22%;
	font-size: x-large;
	font-weight: bold;
}
.container {
	display:flex;
	margin-top:15%;
	margin-left: 27%;
	width:69%;
	align-items:center;
}

.inputBox {
	position:relative;
	left: 20px;
	border: 3px solid black;
}

.button{
	margin-left: 5%;
}

.selectAll {
	height: 20px;
	width: 20px;
}

.lists{
 display:flex;
	width:35%;
	margin-top: 18px;
	margin-left: 32%;
	border: 3px solid;
}

.taskPane {
	position:relative;
	top: 10px;
	left: 30%;
}

.text {
	display:inline-block;
	margin-left: 40px;
	width:100px;
}

.clear {
left: 4%;
}

.taskHeader {
	position: absolute;
	top:8%;
	left: 67%;
	font-size: x-large;
	font-weight: bold;
}

.taskContainer {
	margin-top: 12%;
	margin-left: 23%;
	width:80%;
	display: flex;
	flex-direction: column;
	}

.taskText{
	position: relative;
	margin-top:3%;
	left: 28%;
	width: 38%;
	}

.content {
		margin: 2px;
		display: flex;
		width: 40%;
		flex-wrap: wrap;
		justify-content: space-between;
	}




