.App {
	text-align: center;
	height:100vh;
	display: flex;
}

.todoBox {
	width: 50vw;
	background-color: lightgreen;
}

.taskBox {
	width: 50vw;
	background-color:lightblue;
}

.inputBox {
	display:inline-block;
	margin-top: 10%;
	border-radius: 3%;
	border: 3px solid black;
}

.button{
	margin-top: -5%;
	margin-left: 40%;
}

.tasks {
	top: 4%;
	left: 3%;
}


.container {
	margin-top:2%;
	top:50px;
	margin-left: 35%;
	width:20%;
	display:flex;
	position: relative;
	align-items: center;
	border: 3px solid black;
	font-weight: bold;
	font-size:large;
}

.checkbox {
top:4%;
left: -38%;
}

.clear {
top: 17%;
left: -5%;
}

.taskContainer {
margin-top: 15px;
width: max-content;
display: flex;
border: 3px solid black;
flex-wrap: wrap;
flex-direction: column;
}

.content {
	margin: 2px;
	display: flex;
	width: 280px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.align {
	display: flex;
	flex-direction: column-reverse;
}
