.App {
	text-align: center;
	height:100vh;
	display: flex;
}

.todoBox {
	width: 50vw;
	background-color: lightgreen;
}

.taskBox {
	width: 50vw;
	background-color:lightblue;
}

.header {
	position: absolute;
	top:6%;
	left: 22%;
	font-size: x-large;
	font-weight: bold;
}


.inputBox {
	display:inline-block;
	margin-top: 10%;
	border-radius: 3%;
	border: 3px solid black;
}

.button{
	margin-top: -5%;
	margin-left: 47%;
}

.taskPane {
	position:relative;
	top: 35px;
	left: 3%;
}

.container {
	display:flex;
	position: relative;
	margin-top:2%;
	top:50px;
	margin-left: 35%;
	width:42%;
	align-items: center;
	border: 3px solid black;
	justify-content: space-between;
}

.text {
	display: flex;
	position: relative;
	width: 40%;
}

.checkbox {
top:4%;
left: -38%;
}

.clear {
top: 17%;
left: -5%;
}

.taskHeader {
	position: absolute;
	top:2%;
	left: 72%;
	font-size: x-large;
	font-weight: bold;
}

.taskContainer {
	margin-top: 12%;
	margin-left: 23%;
	width:80%;
	display: flex;
	flex-direction: column;
	}

.taskText{
	position: relative;
	margin-top:3%;
	width: 38%;
	}

.content {
		margin: 2px;
		display: flex;
		width: 40%;
		flex-wrap: wrap;
		justify-content: space-between;
		border: 2px solid black;
	}




